.orderDetail {
    margin: 2em;
    background: #FFF;
    padding: 1em;
    box-shadow: 0 0 4px rgba(145, 138, 225, 0.7),
                0 0 8px rgba(145, 138, 225, 0.4);
    @media screen and (max-width: 767px) {
        margin: 1em;
    }
    @media screen and (max-width: 550px) {
        margin: .5em;
    }
    @media screen and (max-width: 400px) {
        margin: 4px;
    }
    .goods-list {
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
        .cov-button-ripple {
             display: flex;
             flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .goods-item {
            margin: 0.5em;
            border: 2px solid #41A6BD;
            padding: 10px;
            @media screen and (max-width: 580px) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            img {
                width: 200px;
                margin: 0 auto;
                display: inline-block;
                @media screen and (max-width: 580px) {
                    width: 120px;
                }
            }
            .item-sp {
                display: block;
            }
        }

    }
    .order-list {
        li {
            margin: 1em;
        }
    }
}

.enterOrderList {
    margin: 2em;
    border: 2px solid #41B883;
    display: inline-block;
    padding: 5px 10px;
    background: rgba(65, 166, 189, 0.5);
    box-shadow: 0 0 4px rgba(145, 138, 225, 0.7),
                0 0 8px rgba(145, 138, 225, 0.4);
}

.priceEcharts {
    width: 100%;
    height: 550px;
    border: 2px solid rgba(116, 124, 240, 0.5);
    margin: 1em auto;
    padding: .5em;
}